@media (min-width: 641px) {
  .container123 {
    display: grid;
    grid-template-columns: 1.5fr 10fr;
    height: 100vh;
  }

  .container123:not(.show-right-section) .right-section {
    display: none;
  }

  .container123.show-right-section .right-section {
    display: block;
  }
}

.background-image-div-1 {
  background-image: url("../../assets/image-background/transparent-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
